@font-face {
    font-family: Fipps-Regular;
    src: url(fonts/Fipps-Regular.ttf) format('truetype'); /*  dat kieu chu  */
}
@font-face {
    font-family: VT323-Regular;
    src: url(fonts/VT323-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Retro Gaming ;
    src: url(fonts/Retro\ Gaming.ttf) format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(/images/megamasterO\ -\ Professional\,\ Traditional\ Artist\ _\ DeviantArt.gif);
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}  /*phan dinh huong dau trang */

.container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px 50px;
}
#logo {
    position: relative;
    transition: 0.5s;
}
#logo:hover{
    transform: scale(1.25);
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    white-space: nowrap;
}

.item{
    height: 100px;
}
.links{
    font-family: Fipps-Regular, sans-serif;
    font-size: 1.2rem;
    color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 50px;
    height: 100%;
}
.links:hover {
    color: darkred;
    font-size: 150%;
    text-decoration: underline;
}

.bnt {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    font-family: Fipps-Regular, sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    height: 50%;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 25px;
    background:crimson;
    color: aliceblue;
}
.button:hover {
    background:gold;
    color: blue;
    outline-style:dotted;
    transform:scale(1.05);
    transition: all 0.3s ease;
}

.wrapper{
    padding: 50px;
    display: grid;
    width: auto;
    height: auto;
    margin: auto;
    justify-content: center;
    text-align: center;
    position: relative;
}
h1 {
    color:darkblue;
    font-family: Fipps-Regular, sans-serif;
    font-size: 2.5vw;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-right: 10px solid darkblue;
    width: 32ch;
    animation: typingh1 10s steps(32) infinite, blink-careth1 0.5s infinite step-end;
    animation-delay: 1s;
    margin: 0 auto;
}
@keyframes blink-careth1 {
    0%, 100% {border-color: transparent;}
    50%{border-color: darkblue;}
  }
@keyframes typingh1 {
    0% { width: 0ch }
    100% { width: 32ch }
  }
.par{
    padding-top: 30px;
    color:orangered;
    font-family: VT323-Regular, sans-serif;
    font-size: 2vw;
    position: relative;
    font-weight: bold;
}
.par2{
    padding-top: 30px;
    color:orangered;
    font-family: VT323-Regular, sans-serif;
    font-size: 2.7vw;
    position: relative;
    font-weight: bold;
    animation: example 4s infinite;
}
@keyframes example {
    0%{color: orange}
    50% {color:blue;}
    80%{color: red;}
    100%{color: orange;}
  }
footer{
    background-color: black;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: greenyellow;
    padding-bottom: 20px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h2 {
    font-family: Fipps-Regular, sans-serif;
    font-size: 0.8rem;
}
.footer-content p {
    max-width: 500px;
    margin: 5px auto;
    font-family: VT323-Regular, sans-serif;
    font-size: 25px;
}
.footer-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.footer-links li {
    margin: 0 40px;
}
.footer-links li a{
    display: flex;
    text-decoration: none;
    font-family: VT323-Regular, sans-serif;
    color: aliceblue;
    font-size: 25px;
    transition: 0.5s;
}
.footer-links li a:hover{
    font-size: 130%;
    text-decoration: underline;
}
@media screen and (max-width: 960px) {
    .container{
        display: flex;
        justify-content: space-between;
        height: 100px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0;
    }
    .menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .menu.active {
        background:#131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1rem;
    }
    #logo{
        padding-left: 25px;

    }
    .toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }
    .item{
        width: 100%;

    }
    .links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .btn{
        padding-bottom: 2rem;

    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0;
    }
    .toggle.bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        opacity: 0;
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        opacity: 0;
        transform: translateY(-8px) rotate(-45deg);
    }

}